#HTML_49 {
    block-size: 1511.99px;
    box-sizing: border-box;
    height: 1511.99px;
    inline-size: 637.6px;
    perspective-origin: 318.8px 755.987px;
    text-size-adjust: 100%;
    transform-origin: 318.8px 755.994px;
    view-transition-name: root;
    width: 637.6px;
    zoom: 1.25;
    font: 16px / 18.4px sans-serif;
}/*#HTML_49*/

#BODY_1 {
    block-size: 1511.99px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 1511.99px;
    inline-size: 637.6px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    perspective-origin: 318.8px 755.987px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 318.8px 755.994px;
    width: 637.6px;
    background: rgb(255, 255, 255) url("https://madlibs.bostonchildrensmuseum.org/madlibs/images/Madlib_pattern.jpg") repeat scroll 0% 0% / contain padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    margin: 0px;
    outline: rgb(33, 37, 41) none 0px;
}/*#BODY_1*/

#BODY_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BODY_1:after*/

#BODY_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BODY_1:before*/

#IMG_2 {
    block-size: 112.488px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 112.488px;
    inline-size: 637.6px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 318.8px 56.2375px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 318.8px 56.2438px;
    vertical-align: middle;
    width: 637.6px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#IMG_2*/

#IMG_2:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    overflow-clip-margin: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    overflow: visible;
}/*#IMG_2:after*/

#IMG_2:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    overflow-clip-margin: 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    overflow: visible;
}/*#IMG_2:before*/

#DIV_3 {
    block-size: 1242.8px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 1242.8px;
    inline-size: 540px;
    margin-inline-end: 48.8px;
    margin-inline-start: 48.8px;
    max-inline-size: 540px;
    max-width: 540px;
    padding-block-start: 25px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 270px 621.4px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 270px 621.4px;
    width: 540px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    margin: 0px 48.8px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 25px 15px 0px;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:before*/

#H2_4 {
    block-size: 268.8px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 268.8px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 134.4px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 134.4px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_4*/

#H2_4:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_4:after*/

#H2_4:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_4:before*/

#BR_5, #BR_6, #BR_37 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_5, #BR_6, #BR_37*/

#BR_5:after, #BR_6:after, #BR_37:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_5:after, #BR_6:after, #BR_37:after*/

#BR_5:before, #BR_6:before, #BR_37:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_5:before, #BR_6:before, #BR_37:before*/

#SPAN_7, #SPAN_12, #SPAN_16, #SPAN_20, #SPAN_24, #SPAN_28, #SPAN_31, #SPAN_34 {
    border-block-end-color: rgb(26, 117, 255);
    border-block-start-color: rgb(26, 117, 255);
    border-inline-end-color: rgb(26, 117, 255);
    border-inline-start-color: rgb(26, 117, 255);
    box-sizing: border-box;
    caret-color: rgb(26, 117, 255);
    color: rgb(26, 117, 255);
    column-rule-color: rgb(26, 117, 255);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(26, 117, 255);
    text-emphasis-color: rgb(26, 117, 255);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(26, 117, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(26, 117, 255) none 0px;
}/*#SPAN_7, #SPAN_12, #SPAN_16, #SPAN_20, #SPAN_24, #SPAN_28, #SPAN_31, #SPAN_34*/

#SPAN_7:after, #SPAN_12:after, #SPAN_16:after, #SPAN_20:after, #SPAN_24:after, #SPAN_28:after, #SPAN_31:after, #SPAN_34:after {
    border-block-end-color: rgb(26, 117, 255);
    border-block-start-color: rgb(26, 117, 255);
    border-inline-end-color: rgb(26, 117, 255);
    border-inline-start-color: rgb(26, 117, 255);
    box-sizing: border-box;
    caret-color: rgb(26, 117, 255);
    color: rgb(26, 117, 255);
    column-rule-color: rgb(26, 117, 255);
    text-align: left;
    text-decoration: none solid rgb(26, 117, 255);
    text-emphasis-color: rgb(26, 117, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(26, 117, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(26, 117, 255) none 0px;
}/*#SPAN_7:after, #SPAN_12:after, #SPAN_16:after, #SPAN_20:after, #SPAN_24:after, #SPAN_28:after, #SPAN_31:after, #SPAN_34:after*/

#SPAN_7:before, #SPAN_12:before, #SPAN_16:before, #SPAN_20:before, #SPAN_24:before, #SPAN_28:before, #SPAN_31:before, #SPAN_34:before {
    border-block-end-color: rgb(26, 117, 255);
    border-block-start-color: rgb(26, 117, 255);
    border-inline-end-color: rgb(26, 117, 255);
    border-inline-start-color: rgb(26, 117, 255);
    box-sizing: border-box;
    caret-color: rgb(26, 117, 255);
    color: rgb(26, 117, 255);
    column-rule-color: rgb(26, 117, 255);
    text-align: left;
    text-decoration: none solid rgb(26, 117, 255);
    text-emphasis-color: rgb(26, 117, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(26, 117, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(26, 117, 255) none 0px;
}/*#SPAN_7:before, #SPAN_12:before, #SPAN_16:before, #SPAN_20:before, #SPAN_24:before, #SPAN_28:before, #SPAN_31:before, #SPAN_34:before*/

#SPAN_8, #SPAN_9, #SPAN_13, #SPAN_17, #SPAN_21, #SPAN_25, #SPAN_29, #SPAN_32, #SPAN_35 {
    border-block-end-style: solid;
    border-block-end-width: 1.6px;
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border-top: 0px none rgb(33, 37, 41);
    border-right: 0px none rgb(33, 37, 41);
    border-bottom: 1.6px solid rgb(0, 0, 0);
    border-left: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 40px;
}/*#SPAN_8, #SPAN_9, #SPAN_13, #SPAN_17, #SPAN_21, #SPAN_25, #SPAN_29, #SPAN_32, #SPAN_35*/

#SPAN_8:after, #SPAN_9:after, #SPAN_13:after, #SPAN_17:after, #SPAN_21:after, #SPAN_25:after, #SPAN_29:after, #SPAN_32:after, #SPAN_35:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_8:after, #SPAN_9:after, #SPAN_13:after, #SPAN_17:after, #SPAN_21:after, #SPAN_25:after, #SPAN_29:after, #SPAN_32:after, #SPAN_35:after*/

#SPAN_8:before, #SPAN_9:before, #SPAN_13:before, #SPAN_17:before, #SPAN_21:before, #SPAN_25:before, #SPAN_29:before, #SPAN_32:before, #SPAN_35:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_8:before, #SPAN_9:before, #SPAN_13:before, #SPAN_17:before, #SPAN_21:before, #SPAN_25:before, #SPAN_29:before, #SPAN_32:before, #SPAN_35:before*/

#SPAN_10, #SPAN_14, #SPAN_18, #SPAN_22, #SPAN_26 {
    border-block-end-style: solid;
    border-block-end-width: 1.6px;
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    padding-inline-end: 40px;
    padding-inline-start: 40px;
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border-top: 0px none rgb(33, 37, 41);
    border-right: 0px none rgb(33, 37, 41);
    border-bottom: 1.6px solid rgb(0, 0, 0);
    border-left: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 40px;
}/*#SPAN_10, #SPAN_14, #SPAN_18, #SPAN_22, #SPAN_26*/

#SPAN_10:after, #SPAN_14:after, #SPAN_18:after, #SPAN_22:after, #SPAN_26:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_10:after, #SPAN_14:after, #SPAN_18:after, #SPAN_22:after, #SPAN_26:after*/

#SPAN_10:before, #SPAN_14:before, #SPAN_18:before, #SPAN_22:before, #SPAN_26:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_10:before, #SPAN_14:before, #SPAN_18:before, #SPAN_22:before, #SPAN_26:before*/

#H2_11, #H2_15, #H2_27, #H2_33 {
    block-size: 115.2px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 115.2px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 57.6px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 57.6px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_11, #H2_15, #H2_27, #H2_33*/

#H2_11:after, #H2_15:after, #H2_27:after, #H2_33:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_11:after, #H2_15:after, #H2_27:after, #H2_33:after*/

#H2_11:before, #H2_15:before, #H2_27:before, #H2_33:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_11:before, #H2_15:before, #H2_27:before, #H2_33:before*/

#H2_19 {
    block-size: 115.2px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 115.2px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 57.6px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 57.6px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_19*/

#H2_19:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_19:after*/

#H2_19:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_19:before*/

#H2_23 {
    block-size: 153.6px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 153.6px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 76.8px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 76.8px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_23*/

#H2_23:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_23:after*/

#H2_23:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_23:before*/

#H2_30 {
    block-size: 76.8px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 76.8px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 38.4px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 38.4px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_30*/

#H2_30:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_30:after*/

#H2_30:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_30:before*/

#H2_36 {
    block-size: 78.6px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 78.6px;
    inline-size: 510px;
    margin-block-end: 8px;
    margin-block-start: 0px;
    perspective-origin: 255px 39.3px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 39.3px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 8px;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_36*/

#H2_36:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_36:after*/

#H2_36:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#H2_36:before*/

#FORM_38 {
    block-size: 40.2px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 40.2px;
    inline-size: 510px;
    margin-block-end: 0px;
    perspective-origin: 255px 20.1px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 255px 20.1px;
    width: 510px;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    margin: 0px;
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_38*/

#FORM_38:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_38:after*/

#FORM_38:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#FORM_38:before*/

#A_39 {
    border-block-end-color: rgb(0, 123, 255);
    border-block-start-color: rgb(0, 123, 255);
    border-inline-end-color: rgb(0, 123, 255);
    border-inline-start-color: rgb(0, 123, 255);
    box-sizing: border-box;
    caret-color: rgb(0, 123, 255);
    color: rgb(0, 123, 255);
    column-rule-color: rgb(0, 123, 255);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(0, 123, 255);
    text-emphasis-color: rgb(0, 123, 255);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(0, 123, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(0, 123, 255) none 0px;
}/*#A_39*/

#A_39:after {
    border-block-end-color: rgb(0, 123, 255);
    border-block-start-color: rgb(0, 123, 255);
    border-inline-end-color: rgb(0, 123, 255);
    border-inline-start-color: rgb(0, 123, 255);
    box-sizing: border-box;
    caret-color: rgb(0, 123, 255);
    color: rgb(0, 123, 255);
    column-rule-color: rgb(0, 123, 255);
    text-align: center;
    text-decoration: none solid rgb(0, 123, 255);
    text-emphasis-color: rgb(0, 123, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 123, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(0, 123, 255) none 0px;
}/*#A_39:after*/

#A_39:before {
    border-block-end-color: rgb(0, 123, 255);
    border-block-start-color: rgb(0, 123, 255);
    border-inline-end-color: rgb(0, 123, 255);
    border-inline-start-color: rgb(0, 123, 255);
    box-sizing: border-box;
    caret-color: rgb(0, 123, 255);
    color: rgb(0, 123, 255);
    column-rule-color: rgb(0, 123, 255);
    text-align: center;
    text-decoration: none solid rgb(0, 123, 255);
    text-emphasis-color: rgb(0, 123, 255);
    text-size-adjust: 100%;
    border: 0px none rgb(0, 123, 255);
    font: 500 32px / 38.4px "Chelsea Market", cursive, sans-serif;
    outline: rgb(0, 123, 255) none 0px;
}/*#A_39:before*/

#BUTTON_40 {
    appearance: button;
    block-size: 37.6px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-end-width: 0.8px;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-block-start-width: 0.8px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-end-width: 0.8px;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    border-inline-start-width: 0.8px;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    cursor: pointer;
    height: 37.6px;
    inline-size: 314.862px;
    padding-block-end: 3px;
    padding-block-start: 3px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    perspective-origin: 157.425px 18.8px;
    text-size-adjust: 100%;
    transform-origin: 157.431px 18.8px;
    width: 314.862px;
    background: rgb(249, 224, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.8px solid rgb(255, 255, 255);
    border-radius: 5px;
    font: 25px / 30px "Chelsea Market", cursive, sans-serif;
    padding: 3px 10px;
}/*#BUTTON_40*/

#BUTTON_40:after {
    box-sizing: border-box;
    cursor: pointer;
    text-size-adjust: 100%;
    font: 25px / 30px "Chelsea Market", cursive, sans-serif;
}/*#BUTTON_40:after*/

#BUTTON_40:before {
    box-sizing: border-box;
    cursor: pointer;
    text-size-adjust: 100%;
    font: 25px / 30px "Chelsea Market", cursive, sans-serif;
}/*#BUTTON_40:before*/

#DIV_41 {
    block-size: 124.7px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 124.7px;
    inline-size: 637.6px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 318.8px 62.35px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 318.8px 62.35px;
    width: 637.6px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px;
}/*#DIV_41*/

#DIV_41:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_41:after*/

#DIV_41:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_41:before*/

#P_42 {
    block-size: 24px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 24px;
    inline-size: 607.6px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    perspective-origin: 303.8px 12px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 303.8px 12px;
    width: 607.6px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(33, 37, 41) none 0px;
}/*#P_42*/

#P_42:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#P_42:after*/

#P_42:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#P_42:before*/

#SPAN_43, #BR_45 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_43, #BR_45*/

#SPAN_43:after, #BR_45:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_43:after, #BR_45:after*/

#SPAN_43:before, #BR_45:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#SPAN_43:before, #BR_45:before*/

#INPUT_44 {
    block-size: 27.6px;
    border-block-end-color: rgb(0, 0, 0);
    border-block-end-style: solid;
    border-block-start-color: rgb(0, 0, 0);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(0, 0, 0);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    height: 27.6px;
    inline-size: 72.9px;
    perspective-origin: 36.45px 13.8px;
    text-size-adjust: 100%;
    transform-origin: 36.45px 13.8px;
    width: 72.9px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 1.6px solid rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
}/*#INPUT_44*/

#INPUT_44:after {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
}/*#INPUT_44:after*/

#INPUT_44:before {
    box-sizing: border-box;
    text-size-adjust: 100%;
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
}/*#INPUT_44:before*/

#BR_46 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_46*/

#BR_46:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_46:after*/

#BR_46:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_46:before*/

#BUTTON_47 {
    appearance: button;
    block-size: 33.1px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-end-style: solid;
    border-block-end-width: 0.8px;
    border-block-start-color: rgb(255, 255, 255);
    border-block-start-style: solid;
    border-block-start-width: 0.8px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-end-style: solid;
    border-inline-end-width: 0.8px;
    border-inline-start-color: rgb(255, 255, 255);
    border-inline-start-style: solid;
    border-inline-start-width: 0.8px;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    cursor: pointer;
    height: 33.1px;
    inline-size: 60.2375px;
    padding-block-end: 3px;
    padding-block-start: 3px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    perspective-origin: 30.1125px 16.55px;
    text-size-adjust: 100%;
    transform-origin: 30.1187px 16.55px;
    width: 60.2375px;
    background: rgb(249, 224, 29) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.8px solid rgb(255, 255, 255);
    border-radius: 5px;
    font: 17px / 25.5px "Chelsea Market", cursive, sans-serif;
    padding: 3px 10px;
}/*#BUTTON_47*/

#BUTTON_47:after {
    box-sizing: border-box;
    cursor: pointer;
    text-size-adjust: 100%;
    font: 17px / 25.5px "Chelsea Market", cursive, sans-serif;
}/*#BUTTON_47:after*/

#BUTTON_47:before {
    box-sizing: border-box;
    cursor: pointer;
    text-size-adjust: 100%;
    font: 17px / 25.5px "Chelsea Market", cursive, sans-serif;
}/*#BUTTON_47:before*/

#BR_48 {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    perspective-origin: 0px 0px;
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_48*/

#BR_48:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_48:after*/

#BR_48:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-align: left;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    border: 0px none rgb(33, 37, 41);
    font: 16px / 24px "Chelsea Market", cursive, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#BR_48:before*/

